{% extends "layouts/default.njk" %}

{% block content %}

<main class="main">
    <section class="video__section">
        <iframe class="video-frame" src="http://playercdn.cdnvideo.ru/aloha/players/kaztube_vod_player.html?source=//kaztube-custom-hls.cdnvideo.ru/kaztube-vod2/_definst_/smil:video/storage-2/keiki_mergen/keiki_mergen_02/keiki_mergen_02.smil/playlist.m3u8&amp;poster=http://beta.kaztube.kz/media/movies_series/144/76bb6fa053b20e229c196dbbbbf55dda.jpg" frameborder="0" scrolling="no" allowfullscreen=""></iframe>
        <div class="container js-content">
            <div class="video__section--content">
                <h2>Кейкі мерген</h2>
            </div>
        </div>
    </section>
    <section class="video__sub">
        <div class="container">
            <h2>Кейкі мерген</h2>
        </div>
    </section>
</main>

{% endblock %}