html,
body {
  height: 100%;
}

body {
  font-family: $font-primary-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  margin: 30px 0;
}

.video__section {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: flex-end;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &--content {
    position: relative;
    z-index: 4;
    padding-bottom: 80px;
    h2 {
      color: #fff;
      font-weight: 900;
    }
  }
}
.video__sub {
  padding: 20px 0;
  display: none;
}
